.city{
    width: 140px;
  height: 140px;
  margin: 40px auto;
  margin-left: 120px;
  
}

.find{
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search{
    padding: 10px;
    font-size: 14px;
    border: none;
    outline: none;
    font-weight: bold;
    margin-left: 60px;
}

.button{
    padding: 10px;
    font-size: 14px;
    border: none;
    outline: none;
    color: white;
    background: black;
    font-weight: bold;
    cursor: pointer;
}

.Day7{
    margin-left: 170px;
    margin-top: 40px;
}