h1{
    margin-left: 30px;
    padding-top: 60px;
    
}

img{
    margin-top: -150px;
    margin-left: 230px;
    width: 120px;
}

.location{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-top: 40px;
    margin-left: 120px;
}