.App{
    display:flex;
flex-direction:column;
margin:auto;
box-shadow:0 3px 6px 0 #555;
padding:20px 10px;
border-radius:4px;
width:380px;
height:380px;
background:linear-gradient(red,cyan);
font-family:Montserrat;
margin-top: 40px;
}

span{
    font-weight: bold;
    font-size: 25px;
    margin-left: 110px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



